@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");
body,
html,
#root,
.App,
#canvas-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #efebec;
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
}
#canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.scroll-area {
    overflow: auto;
    height: 100%;
    background-color: #0000;
    position: relative;
    z-index: 2;
}
